@font-face {
    font-family:"Helvetica-new";
    src: url("../fonts/Helvetica\ Neue\ LTW0697BlkCnObl.ttf");
    src: url("../fonts/Helvetica\ Neue\ LTW0697BlkCnObl.otf");
    font-weight:bold;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica-1";
    src: url("../fonts/Helvetica\ Neue\ W01\ 77\ Bd\ Cn\ Obl.otf");
    src: url("../fonts/Helvetica\ Neue\ LTW0697BlkCnObl.ttf");
    font-weight:normal;
    font-style: normal;
}